<p>error works!</p>
<h1>Our Signup Form</h1>
<!-- <form #f="ngForm" (ngSubmit)="signupSubmit(f)" validate>
    <input type="text" name="username" ngModel  placeholder="Enter username" required #user="ngModel"><br>
    <input type="password" name="password" ngModel placeholder="Enter password" required #password="ngModel"><br>
     <input type="email" email="true" name="email" required  placeholder="Enter Email" ngModel #email="ngModel"><br>
    <input type="number" name="phone" required placeholder="Enter Mobile Number" ngModel #phone="ngModel"><br>
    <button [disabled]="f.form.status =='INVALID'" type="submit">Signup</button>
    {{f.form.value | json}}
</form> -->

<!--<form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
    <input type="text" placeholder="Enter username" required  formControlName="username"  ><br>
    <input type="password" placeholder="Enter password" required formControlName="password"  ><br>
     <input type="email" required  placeholder="Enter Email" formControlName="email"  ><br>
    <input type="number"  required placeholder="Enter Mobile Number" formControlName="phone"   ><br>
    <button type="submit" [disabled]="signupForm.status =='INVALID'">Signup</button>
</form>-->